h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 6.5em;
  /* font-weight: bold; */
  padding-left: 50px;
  /* text-shadow: 5px 5px 5px #4d004d; */
  text-shadow: 5px 5px 5px #993399;
  color: white;
}

a {
  font-family: 'Major Mono Display', monospace;
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

body {
  /* background-color: #383838; */
  background-color: black;
}

i {
  padding-left: 50px;
  padding-right: 50px;
}

.fa-envelope-square {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}

.fa-linkedin {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}

.fa-facebook {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}

#contact-icons {
  float: left;
  text-align: center;
}
