body {
  background-color: black;
}
h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 6.5em;
  padding-left: 50px;
  text-shadow: 5px 5px 5px #993399;
  color: white;
}
h3 {
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 18px;
}
i {
  padding-left: 50px;
  padding-right: 50px;
}
object {
  width: 100%;
  height: 900px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
p {
  color: white;
  font-family: 'Work Sans', sans-serif;
}
a {
  font-family: 'Major Mono Display', monospace;
  color: white;
  text-decoration: none;
}
a.nav-link {
  padding-right: 30px !important;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.fa-envelope-square {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}
.fa-linkedin {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}
.fa-facebook {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}
.fa-utensils {
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}
.fa-github-square{
  color: white;
  font-size: 200px;
  text-shadow: 3px 3px #993399;
}
.proj_col {
  text-align: center;
}
#contact-icons {
  float: left;
  text-align: center;
}
.fa-file-alt {
  display: none;
}

@media (max-width: 770px) {
  h1 {
    font-size: 3.5em;
    text-align: center;
    padding-left: 0px;
  }
  h3 {
    padding-top:
  }
  object {
    width: 400px;
    height: 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  i {
    padding-top: 30px;
  }
  .fa-envelope-square {
    color: white;
    font-size: 100px;
    text-shadow: 3px 3px #993399;
  }
  .fa-linkedin {
    color: white;
    font-size: 100px;
    text-shadow: 3px 3px #993399;
  }
  .fa-facebook {
    color: white;
    font-size: 100px;
    text-shadow: 3px 3px #993399;
  }
  .fa-utensils {
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px #993399;
    padding-top: 75px;
  }
  .fa-github-square{
    color: white;
    font-size: 100px;
    text-shadow: 3px 3px #993399;
  }
  #pages {
    text-align: center;
    height: 400px;
  }
}

@media (max-width: 576px) {
  #git {
    height: 450px;
  }
  .fa-file-alt {
    display: block;
    font-size: 100px;
    text-shadow: 3px 3px #993399;
    text-align: center;
    height: 400px;
  }
  #res {
    display: none;
  }
  #contact-icons {
    height: 550px;
  }
}

@media (max-width: 500px) {
  object {
    width: 350px;
    height: 550px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
